@tailwind base;
@tailwind components;
@tailwind utilities;

.animateButton {
    animation: moveElement 2s linear infinite;
    background-color: #fff;
    filter: blur(10px);
    height: 150px;
    position: absolute;
    transform: rotate(45deg);
    width: 50px;
}

@keyframes moveElement {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(1200%);
    }
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-spin {
    animation: spin 6s linear infinite;
}